/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2014, 10:02:08 AM
    Author     : in10c
*/
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@font-face { font-family: "Roboto"; src: url("Roboto-Light.ttf") format ("ttf"); }

body {
    background-image: url("../imagenes/violet.jpg");
    width: 100%;
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.menuRetorno{
    width:90%;
    display: block;
    margin-top: 30px;
}

.menuRetorno a {
    display:inline-block;
    padding: 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    color: gray;
    margin-right: 5px;
}

.menu {
    padding: 20px;
    padding-top: px;
    display: block;
    float: left;
    margin-left:10%;
    width: 20%;
    background-color: rgba(255,255,255,.2);
}

.menu h2{
    color: white;
    font-size: 2em;
}

.menu ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin:0;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.contenedor {
    display:block;
    width: 80%;
    margin-top: 5%;
    padding:20px;
    float:left;
    margin-left: 10%;
    color:white;
    background-color: rgba(255,255,255,.4);
    border: 1px solid white;
    border-radius: 5px;
}

.contenedor h1 {
    color: white;
    margin-top: 0;
}

.contenedor form {
    padding:20px;
    color: white;
    font-size:1.3em;
}

.contenedor table {
    color: white;
    font-size: 1.2em;
}

.contenedor form input{
    border-radius: 3px;
    border: 1px solid white;
    padding:3px;
}

.cajaLogin {
    padding: 20px;
    top: 5%;
    display: block;
    float: left;
    margin-left:10%;
    width: 25%;
    background-color: rgba(255,255,255,.2);
    color:white;
}

.cajaLogin h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    letter-spacing: 12px; 
}

.noPermiso {
    color: white;
    display: block;
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top:5%;
    font-size: 2em;
}

.botonBonito {
    display: block;
    width: 200px;
    height: auto;
    padding: 15px;
    background-color: white;
    font-size: .7em;
    text-decoration: none;
    color: gray;
    border: 1px solid #e2e2e2;
}

.contadores {
    display: block;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.botonBonito a {
    font-size: .2em;
    
    text-decoration: none;
    
}

.tablaGrande {
    width: 100%;
}

.tablaGrande .botonBonito{
    width: 25%;
    margin-right:3px; 
    border: 1px solid #e2e2e2;
    float: left;
}

.link {
    height: 20px;
    width:250px;
    float:right;
    color:black;
    font-size:1em;
    vertical-align: middle;
    position: relative;
    margin-top: 30px;
}

.link a{
    vertical-align: middle;
    display: block;
    float:left;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    padding: 5px;
}

.link img {
    display:block;
    float:left;
    margin-right: 10px;
}

.flotante {
    display:block;
    background-color: white;
    width: 40%;
    overflow: auto;
    position: fixed;
    left: 30%;
    top: 10%;
    padding: 5px 30px;
    height: 80%;
    border: 1px solid gray;
    display: none;
}

.flotante h2{
    color: #5F5F5F;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 5px;
}

.invertirColor {
    color: black!important;
}

/* css para la pizarra */

#parteAlta {
    width: 100%;
    height: 85%;
    display: block;
    position: fixed;
    padding: 30px;
    top: 0;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

#parteBaja {
    width: 100%;
    height: 15%;
    display: block;
    position: fixed;
    padding: 10px 0;
    font-size: 1.5em;
    color: white;
    vertical-align: middle;
    bottom: 0;
    text-align: center;
    background-color: rgba(250,250,250,.2);
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

#parteBaja > div {
    display: block;
    width: 32%;
    float: left;
    top: 0;
}

.subtitulo {
    font-size: 1.2em;
    color: #e2e2e2;
}

.tituloMesa {
    padding-top: 7%;
    text-align: left;
    padding-left: 5%;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

#enlaceMesas span{
    top: 0;
    display: block;
    width: 48%;
    float: left;
}

#enlaceMesas a{
    color: white;
}

#clientesArea a {
    text-decoration: none;
    color: white;
}

#ruta {
    color: white;
    font-size: 1.8em;
    width: 100%;
    display: block;
    height: auto;
    overflow: auto;
}

#ruta > div{
    display: block;
    border-bottom: 1px dotted #808080;
    float: left;
    margin-right: 25px;
}

#rutaAbajo {
    color: white;
    font-size: 1.8em;
    width: 5%;
    display: block;
    position:fixed;
    bottom: 5%;
    right:1%;
}

#rutaAbajo > div{
    display: block;
    border-bottom: 1px dotted #808080;
    float: left;
    margin-right: 25px;
}

#contenedorCuenta {
    width: 30%;
    float: left;
    height: 100%;
    display: block;
    color: white;
    background-color: rgba(250,250,250,.2);
    padding: 0 15px;
    position: relative;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

#Totales {
    position: absolute;
    bottom: 0;
    right: 18px;
    width: 60%;
}


#Totales p span {
    display: inline-block;
    width: 49%;
}

#Totales p span:last-child {
    text-align: right;
}

#contenedorCuenta table {
    text-align: center;
    width: 100%;
}

#contenedorCuenta table a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}

#contenedorCuenta table td {
    padding: 10px 0;
}

#contenedorCuenta table td:first-child {
    text-align: left;
}

.contenedorCate {
    width: 70%;
    float: left;
    display: block;
}

.cambiador span {
    display: block;
    float: left;
}

.cambiador a {
    color: white;
}

.listaFancy {
    list-style: none;
}

.listaFancy a {
    display: block;
    margin: 30px 0;
    text-decoration: none;
    border-left: 4px solid #7E397A;
    padding: 10px;
    font-size: 1.2em;
    position: relative;
}



#contenedorProductos {
    display: block;
    margin-top: 20px;
    width: 98%;
    height: 500px;
    overflow-y: auto;
}

#contenedorProductos > div {
    display: inline-block;
    width: 22.5%;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 150px;
    border: 1px solid white;
    position: relative;
}

#contenedorProductos > div:nth-child(4n) {
    margin-right: 5px;
}

.legenda {
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    height: 60px;
    bottom: 0;
    padding: 5px 8px;
    color: white;
    font-size: .7em;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

.wrapBotones {
    position: absolute;
    display: none;
    width: 100%;
    height: 150px;
    bottom: 0;
    z-index: 50;
    padding: 5px 8px;
    background-color: white;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */ 
}

.wrapBotones a  {
    font-size: 3em;
    color:gray;
    display:block;
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20%;
   
}

.tituloProd {
    font-size: 1.5em;
}

.visible {
    display: block;
}

.dosColumnas {
    width: 100%;
}

.dosColumnas > div {
    width: 45%;
    float: left;
    top: 0;
    padding-top: 0;
    margin-top: 0;
    padding: 0;
    margin: 0;
}

#elementos i {
    margin-right: 20px;
}

.categSelec {
    border-left: none!important;
    background-color: #7E397A;
    color: white!important;
}

.categSelec:visited {
    color: white!important;
}

/* para el reloj de cocina*/

#fechaTablero {
    display: block;
    width: 65%;
    height:200px;
    position:fixed;
    top:20px;
    right:1%;
    font-size:1.5em;
    color:white;
}

#fechaTablero > div {
    display:inline-block;
    width: 47%;
    text-align: right;
}

#hora {
    font-size:2.7em;
}

//ordenes de cocina

#conOrdenes {
    display:block;
    width:90%;
    top:15%;
    color:white;
    left:5%;
    position:fixed;
}

#conOrdenes > div {
    width: 32%;
    float:left;
    top:0;
    display:block;
    background-color: white;
    border: 1px solid #e2e2e2;
    height: 100%;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
}

#conOrdenes > div:nth-child(3n)  {
    margin-right: 0;
}

#conOrdenes > div h2{
    margin: 10px 20px;
    color: gray;
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 1.3em;
}

#conOrdenes > div ul{
    list-style: none;
    margin-left: 20px;
    font-size: 1.3em;
    padding-left: 0;
    line-height: 40px;
    margin-top: 0;
    padding-top: 0;
    max-height: 320px;
    overflow-y: auto;
}

.canti {
    font-size:1.3em;
    color: #7E397A;
}

.tipoEnvio {
    color: gray;
    padding-left: 10px;
}

.abajoOrden {
    display: block;
    position: absolute;
    bottom:20px;
    right:20px;
}

